<div class="jumbotron my-5">
    <h1 class="display-4">Welcome to Orlando's <strong class="text-primary">Internet of Things</strong></h1>
    <p class="lead">We are a passionate community of IoT enthusiasts dedicated to sharing the world of IoT with everyone.</p>
    <hr class="my-4">
    <p>Orlando IoT, or the "Internet of Things," is the place for people with a project or product idea they want to have connected to the internet. IoT has a lot of potential for new and exciting devices, with so many hardware and software options out there it can be difficult to get started or know what technology is right for your project.</p>
    <p>As a group we can share knowledge and learn together to unlock the IoT potential. Designers, programmers, engineers and entrepreneurs are all welcome. We will offer introductory overviews of the relevant technologies but will also generate small groups building out their ideas.</p>
    <a class="btn btn-primary btn-lg" href="https://www.meetup.com/iot-orlando/" target="_blank" role="button">Attend a Meetup</a>
    <a class="btn btn-secondary btn-lg mx-3" href="https://join.slack.com/t/orlandoiot/shared_invite/zt-qm872vsl-~70QYTujCm5~RBfi8sKkww" target="_blank" role="button">Join us on Slack</a>
  </div>